* {
    font-family: sans-serif !important;
}

header {
    height: 104px;
    background-color: #171d25;
}

#logo {
    width: 175px;
    height: 45px;
}

.content {
    width: 940px;
    margin: 0 auto;
}

.header-logo,
.header-menu {
    display: flex;
    height: 104px;
    align-items: center;
}

.flex {
    display: flex;
}

#header-menu-list {
    color: white;
    display: flex;
    cursor: pointer;
}

#header-menu-list li {
    margin: 0 5px;
    text-transform: uppercase;
    border-bottom: 4px solid transparent;
    margin-bottom: -4px;
}

#header-menu-list li:hover {
    border-color: white;
}

#header-menu-list .active {
    color: #1a9fff;
    border-color: #1a9fff;
}

#header-login-list li {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.4);
    margin-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: .3s;
}

#btn-install {
    background-color: #5c7e0f;
    color: rgba(255, 255, 255, 0.6);
    font-size: 11px;
    padding: 4px 9px;
    cursor: pointer;
    transition: 1s;
}

#banner {
    height: 453px;
    background: url(".assets/images/game-picture.jpeg") #000;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: fill;
}

